In [2]:
#Importing required libraries
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [111]:
#Requred datasets: user_ratings,song_dataset
data = pd.read_csv("./user_ratings.csv")
database = pd.read_excel("F:/Durham_College_AI/1- semester/Capstone/Song_dataset.xls")
database.drop(["Unnamed: 0"],inplace = True,axis = 1)
data.drop(["Unnamed: 0"],inplace = True,axis = 1)

In [122]:
data.fillna(0,inplace = True) 
data

,0,1,2,3,4,5,6,7,8,9,...,33844,33845,33846,33847,33848,33849,33850,33851,33852,33853
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
#Create user-user similarity matrix using cosine similarity function
user_similarity = cosine_similarity(data)
user_similarity_df = pd.DataFrame(user_similarity,index = data.index,columns = data.index)
user_similarity_df

(6, 6)

In [58]:
#Gets the most similar user from the matrix
def get_similar_users(user):
    similar_score = user_similarity_df[user]
    similar_score = similar_score.sort_values(ascending = False)
    return similar_score.index[1]
#Returns recommendations from the most similar user 
def get_recommendations(s_user,o_user):
    o_set  = set(data.iloc[5].dropna().index)
    s_set = set(data.iloc[2].dropna().index)
    return s_set.difference(o_set)

In [52]:
#Main body of program: returns recommedned songs(names and spotify uri)
user = input("Enter the target user:")
similar_user = get_similar_users(user)
recommendations = list(get_recommendations(similar_user,5))
r_name = database.iloc[recommendations].Tracks.values
r_uri =  database.iloc[recommendations].uri.values